@import "tailwindcss";
@import "@nuxt/ui";

body::before {
  background-image: linear-gradient(rgba(41, 41, 41, 0.2) 1px, transparent 1px),
    linear-gradient(to right, rgba(41, 41, 41, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: var(--color-zinc-950) !important;

  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}